## Build results
bin/
obj/

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider / VS Code
.idea/
.vscode/

## OS
.DS_Store
Thumbs.db

## Logs
*.log

## Environment variables
appsettings.Development.json
appsettings.json

## Secrets
secrets.json

## Packages
*.nupkg

## Publish
publish/
